.container-content {
  width: 100%;
  padding: 16px;
  background-color: #777777;
}

.container-top {
  position: absolute;
  bottom: 0;
}

.container-bottom {
  padding: 20px;
}
.top-text {
  text-align: center;
  color: #FFF;
  p{
    font-size: 3.5vw;
  }
}
.event-campain {
  p {
    line-height: 1.8;
    font-size: 13px;
  }
  &__text {
    background-color: #f0efeb;
    padding: 20px;
    color: #878383;
  }
}

.top_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
  }
}

.home-page-image-wrapper h1 {
  position: relative;
}

.top_share_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  li{
    width: 10%;
    margin: 0 5px;
  }
  a{
    display: block;
  }
}

.top_image_hitsuji {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
   img{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
 &:nth-child(1) {
    left: 5%;
    top: 15%;
  }
 &:nth-child(2) {
  left: 75%;
  top: 10%;
}
 &:nth-child(3) {
  left: 5%;
  top: 48%;
}
 &:nth-child(4) {
  left: 80%;
  top: 45%;
}
}
}

.fadeOut {
  animation-duration: 3s;
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
  opacity:0;
  }
  100% {
  opacity:1;
  }
}

.fadeOut2{
  animation-duration: 2s;
  animation-name: fadeOut2;
}

@keyframes fadeOut2 {
  0% {
  opacity:1;
  }
  50%{
  opacity:1;
  }
  100%{
  opacity:0;
  }
}
