* {margin: 0;padding: 0;box-sizing: border-box;font-weight: 100;font-size: 100%}
body {font-size: 14px;font-family: "Gotham A","Gotham B",sans-serif;}
img {width: 100%;vertical-align: top;}
.woolmark-campain {
  &__img {
    background-color: #fff;
    text-align: center;
    img {
      width: 60%;
    }
  }
  &__text {
    background-color: #fff;
    padding: 20px;
    color: #878383;
    p {
      margin-bottom: 16px;
      line-height: 1.8;
      font-size: 13px;
      &:nth-child(2) {
        margin-bottom: 0;
      }
    }
  }
}
.elle-shop__banner a {
  padding: 20px 8%;
  display: block;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  text-align:center;
  font-weight: bold;
  font-size:10px;
}
// index.html
.que-start__btn {
  line-height: 50px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  a {
    background-color: #FFF;
    color: #4FB748;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    display: block;
  }
  &:after {
      content: "";
      position: absolute;
      transform: rotate(45deg);
      top: 50%;
      right: 30%;
      width: 5px;
      height: 5px;
      border-right: solid 3px #4bad31;
      border-top: solid 3px #4bad31;
  }
}

// que.html
h1.que {
  background-image: url(../img/common/header_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  img {
    width:  240px;
  }
}

form {
  width: 90%;
  margin: 0 auto 20px;
  border-radius: 8px;
  padding: 24px;
  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #4bad31;
    letter-spacing: 1px;
    position: relative;
    width: 200px;
    margin: auto;
    &:before {
      content: "";
      display: block;
      width: 90px;
      height: 90px;
      position: absolute;
      background-image: url(../img/que1.png);
      background-repeat: no-repeat;
      background-size: 100%;
      bottom: -15px;
      right: -50px;
    }
  }
}
.que__text {
  width: 60%;
  margin: 20px auto;
}

#que {
  li {
    display: none;
    &.active {
      display: block;
    }
  }
}
.container-content.queForm {
  background-color: #fbfaf8;
}
.que__btn {
  display: flex;
  flex-wrap: wrap;
  label {
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 12px 12px 12px 36px;
    margin-bottom: 12px;
    font-size: 16px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      left: 12px;
      bottom: 1px;
      margin: auto;
      border: 1px solid #000;
      border-radius: 4px;
      background-color: #fff;
    }
  }
  input[type=radio] {
    -webkit-appearance: none;
  }
}
.que__btn label.active {
  background-color: #4bad31;
  color: #fff;
  border-color: #4bad31;
  &:before {
    border-color: #fff;
  }
  &:after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    border-bottom: 2px solid #4bad31;
    border-left: 2px solid #4bad31;
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
    left: 15px;
    bottom: 3px;
    margin: auto;
  }
}
.submit {
  width: 60%;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
  background-color: #4bad31;
  border-radius: 50px;
  font-size: 18px;
}
// result.html
.result-area {
  position: relative;
  padding-bottom: 160px;
  &__discription {
    position: relative;
    z-index: 1;
    background-color: #fff;
    h2 {
      position: relative;
    }
  }
  &__text {
    width: 90%;
    margin: 0 auto 20px;
    line-height: 1.8;
  }
  &__sns {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding: 16px;
    div {
      width: 20%;
    }
    span {
      flex: 1;
    }
  }
  &__friends {
    padding-top: 120px;
    background-color: #ff709d;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    h3 {
      width: 80%;
      margin: 0 auto;
    }
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }
  }
}



@import "_custom";




.scroll:before {
  animation-duration: 8s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  0% {
      transform: rotate(2880deg);
  }
  30% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(0deg);
  }
}