* {margin: 0;padding: 0;box-sizing: border-box;font-weight: 100;font-size: 100%}
body {font-size: 14px;font-family: "Gotham A","Gotham B",sans-serif;background: #fbfaf8;}
img {width: 100%;vertical-align: top;}
li{list-style-type: none;}


.woolmark-campain {
  &__img {
    background-color: #fff;
    text-align: center;
    img {
      width: 90%;
    }
  }
  &__text {
    background-color: #fff;
    padding: 20px;
    color: #878383;
    p {
      line-height: 1.8;
      font-size: 13px;
      &:nth-child(2) {
        margin-bottom: 0;
      }
    }
  }
}
.elle-shop__banner a {
  padding: 20px 8%;
  display: block;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  text-align:center;
  font-weight: bold;
}

ul.sns-area {
  background-color: #f0efeb;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  li {
    width: 14.5%;
    margin: 0 4px;
  }
}

.copy {
  background-color: #f0efeb;
  padding: 8px 0;
  font-size: 1vw;
}



// index.html
.que-start__btn {
  line-height: 50px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  a {
    background-color: #FFF;
    color: #4FB748;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: "";
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 5px;
      height: 5px;
      border-right: solid 3px #4bad31;
      border-top: solid 3px #4bad31;
      margin-left: 3px;
  }
  }
}

// que.html
h1.que {
  background-image: url('../img/common/header_bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  img {
    width:  240px;
  }
}

form {
  margin: 0 auto 16px;
  border-radius: 8px;
  padding: 16px;
  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #4bad31;
    letter-spacing: 1px;
    position: relative;
    width: 200px;
    margin: auto;
    &:before {
      content: "";
      display: block;
      width: 90px;
      height: 90px;
      position: absolute;
      background-image: url('../img/que1.png');
      background-repeat: no-repeat;
      background-size: 100%;
      bottom: -15px;
      right: -50px;
    }
  }
}
.que__text {
  margin: 20px auto;
  text-align: center;
  font-size: 5vw;
}

#que {
  li {
    display: none;
    &.active {
      display: block;
    }
  }
}

.que__btn {
  display: flex;
  flex-wrap: wrap;
  label {
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 12px 12px 12px 36px;
    margin-bottom: 12px;
    font-size: 16px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      left: 12px;
      bottom: 1px;
      margin: auto;
      border: 1px solid #000;
      border-radius: 4px;
      background-color: #fff;
    }
  }
  input[type=radio] {
    -webkit-appearance: none;
  }
}
.que__btn label.active {
  background-color: #4bad31;
  color: #fff;
  border-color: #4bad31;
  &:before {
    border-color: #fff;
  }
  &:after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    border-bottom: 2px solid #4bad31;
    border-left: 2px solid #4bad31;
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
    left: 15px;
    bottom: 3px;
    margin: auto;
  }
}
.submit {
  width: 60%;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
  background-color: #4bad31;
  border-radius: 50px;
  font-size: 18px;
}
// result.html
.result-area {
  position: relative;
  background-color: #fbfaf8;
  &__discription {
    position: relative;
    padding: 32px 16px;
    z-index: 1;
    background-color: #fbfaf8;
    h2 {
      position: relative;
      color: #3bb028;
      font-size: 5.4vw;
      text-align: center;
    }
  }
  &__image {
    position: relative;
    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      img {position: absolute;}
      &.image__before img {
        width: 35%;
        top: 11%;
      }
      &.image__bg img {
        width: 85%;
        top: 15.5%;
        left: 6.5%;
      }
      &.image__main img {
        width: 60%;
        top: 26%;
        left: 22%;
      }
    }
  }
  &__caption {
    color: #3bb028;
    font-size: 5vw;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  &__text {
    padding: 16px 0;
    line-height: 1.8;
  }
  &__merit {
    background-color: #ffffff;
    color: #50b848;
    padding: 16px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: 26px 22px;
    &.no {
      &_01 {background-image: url('../img/result/kekka_01_bub.png');}
    }
    > div:first-child {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: 5.6vw;
      padding-top: 20px;
      padding-left: 90px;
      height: 80px;
      margin: 0 auto;
      position: relative;
      span {
        font-size: 4vw;
        position: absolute;
        top: 10px;
        left: 90px;
      }
    }
  }
  &__sns {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 0 0;
    div {
      width: 14%;
      padding-left: 12px;
      a {display: block;}
    }
    span {
      flex: 1;
      font-size: 5vw;
      color: #3bb028;
      position: relative;
      &:before,&:after {
        content: "";
        display: block;
        width: 2.3vw;
        height: 2.3vw;
        border-top: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:before {
        right: 3%;        
      }
      &:after {
        right: 8%;
      }
    }
  }
  &__friends {
    background-image: url('../img/result/nakayoshi_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #fbfaf8;  
    padding: 16px 0;  
    width: 100%;
    h3 {
      width: 80%;
      margin: 0 auto;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      font-size: 5vw;
    }
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }
    li {
      width: 26%;
      margin: 0 6px;
      background-image: url('../img/result/kekka_nakayoshi_btn.png');
      background-size: 100%;
      background-repeat: no-repeat;
      padding: 16px;
    }
  }
}




@import "_custom";
@import "_mediaquery";

// .scroll:before {
//   animation-duration: 8s;
//   animation-name: slidein;
//   animation-iteration-count: infinite;
// }
// @keyframes slidein {
//   0% {
//       transform: rotate(2880deg);
//   }
//   30% {
//       transform: rotate(0deg);
//   }
//   100% {
//       transform: rotate(0deg);
//   }
// }

/*
@media の外に記述したスタイルは、全サイズで読み込まれます。
*/

// 確認用ページの広告削除　納品時削除予定
body > div:nth-of-type(1) {
  display: none !important;
}