@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
  font-size: 100%;
}

body {
  font-size: 14px;
  font-family: "Gotham A","Gotham B",sans-serif;
  background: #fbfaf8;
}

img {
  width: 100%;
  vertical-align: top;
}

li {
  list-style-type: none;
}

.width-sp {
  display: block;
}

.width-pc {
  display: none;
}

.woolmark-campain__img {
  background-color: #fff;
  text-align: center;
}

.woolmark-campain__img img {
  width: 90%;
  max-width: 533px;
}

.woolmark-campain__text {
  background-color: #fff;
  padding: 20px;
  color: #878383;
}

.woolmark-campain__text p {
  line-height: 1.8;
  font-size: 13px;
}

.woolmark-campain__text p:nth-child(2) {
  margin-bottom: 0;
}

.elle-shop__banner a {
  padding: 20px 8%;
  display: block;
}

footer {
  width: 100%;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  text-align: center;
  font-weight: bold;
}

ul.sns-area {
  background-color: #f0efeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0;
}

ul.sns-area li {
  width: 14.5%;
  margin: 0 4px;
}

.copy {
  background-color: #f0efeb;
  padding: 8px 0;
  font-size: 10px;
}

.container-top {
  width: 100%;
  max-width: 600px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.que-start__btn {
  line-height: 50px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  max-width: 360px;
  width: 80%;
  margin: 0 auto;
}

.que-start__btn a {
  background-color: #FFF;
  color: #4FB748;
  text-decoration: none;
  font-size: 2vw;
  border-radius: 30px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.que-start__btn a:after {
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 1vw;
  height: 1vw;
  border-right: solid 3px #4bad31;
  border-top: solid 3px #4bad31;
  margin-left: 3px;
}

h1.que {
  background-image: url("../img/common/header_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
}

h1.que img {
  width: 240px;
}

form {
  margin: 0 auto 16px;
  border-radius: 8px;
  padding: 16px;
}

form h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #4bad31;
  letter-spacing: 1px;
  position: relative;
  width: 200px;
  margin: auto;
}

form h2:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  position: absolute;
  background-image: url("../img/que1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: -15px;
  right: -50px;
}

.que__text {
  margin: 20px auto;
  text-align: center;
  font-size: 5vw;
}

#que li {
  display: none;
}

#que li.active {
  display: block;
}

.que__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.que__btn label {
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 12px 12px 12px 36px;
  margin-bottom: 12px;
  font-size: 16px;
  position: relative;
}

.que__btn label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 12px;
  bottom: 1px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
}

.que__btn input[type=radio] {
  -webkit-appearance: none;
  display: none;
}

.que__btn label.active {
  background-color: #4bad31;
  color: #fff;
  border-color: #4bad31;
}

.que__btn label.active:before {
  border-color: #fff;
}

.que__btn label.active:after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  border-bottom: 2px solid #4bad31;
  border-left: 2px solid #4bad31;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  left: 15px;
  bottom: 3px;
  margin: auto;
}

.submit {
  width: 60%;
  margin: 10px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 50px;
  background-color: #4bad31;
  border-radius: 50px;
  font-size: 18px;
}

.result-area {
  position: relative;
  background-color: #fbfaf8;
}

.result-area__discription {
  position: relative;
  padding: 32px 16px;
  z-index: 1;
  background-color: #fbfaf8;
}

.result-area__discription h2 {
  position: relative;
  color: #3bb028;
  font-size: 5.4vw;
  text-align: center;
}

.result-area__image {
  position: relative;
}

.result-area__image span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.result-area__image span img {
  position: absolute;
}

.result-area__image span.image__before img {
  width: 35%;
  top: 8%;
}

.result-area__image span.image__bg img {
  width: 85%;
  top: 15.5%;
  left: 6.5%;
}

.result-area__image span.image__main img {
  width: 60%;
  top: 26%;
  left: 22%;
}

.result-area__caption {
  color: #3bb028;
  font-size: 5vw;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.result-area__text {
  padding: 16px 0;
  line-height: 1.8;
}

.result-area__merit {
  background-color: #ffffff;
  color: #50b848;
  padding: 16px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: 26px 22px;
}

.result-area__merit.no_01 {
  background-image: url("../img/result/kekka_01_mas.png");
}

.result-area__merit.no_02 {
  background-image: url("../img/result/kekka_02_bub.png");
}

.result-area__merit.no_03 {
  background-image: url("../img/result/kekka_03_thu.png");
}

.result-area__merit.no_04 {
  background-image: url("../img/result/kekka_04_dre.png");
}

.result-area__merit.no_05 {
  background-image: url("../img/result/kekka_05_rub.png");
}

.result-area__merit.no_06 {
  background-image: url("../img/result/kekka_06_kom.png");
}

.result-area__merit.no_07 {
  background-image: url("../img/result/kekka_07_sky.png");
}

.result-area__merit.no_08 {
  background-image: url("../img/result/kekka_08_gag.png");
}

.result-area__merit.no_09 {
  background-image: url("../img/result/kekka_09_ele.png");
}

.result-area__merit.no_10 {
  background-image: url("../img/result/kekka_10_pho.png");
}

.result-area__merit.no_11 {
  background-image: url("../img/result/kekka_11_bab.png");
}

.result-area__merit.no_12 {
  background-image: url("../img/result/kekka_12_hot.png");
}

.result-area__merit.no_13 {
  background-image: url("../img/result/kekka_13_nat.png");
}

.result-area__merit.no_14 {
  background-image: url("../img/result/kekka_14_mar.png");
}

.result-area__merit.no_15 {
  background-image: url("../img/result/kekka_15_sof.png");
}

.result-area__merit.no_16 {
  background-image: url("../img/result/kekka_16_rel.png");
}

.result-area__merit.no_17 {
  background-image: url("../img/result/kekka_17_ter.png");
}

.result-area__merit.no_18 {
  background-image: url("../img/result/kekka_18_sto.png");
}

.result-area__merit.no_19 {
  background-image: url("../img/result/kekka_19_adv.png");
}

.result-area__merit.no_20 {
  background-image: url("../img/result/kekka_20_zom.png");
}

.result-area__merit > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5.6vw;
  padding-top: 20px;
  padding-left: 90px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}

.result-area__merit > div:first-child span {
  font-size: 4vw;
  position: absolute;
  top: 10px;
  left: 90px;
}

.result-area__sns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0 0;
}

.result-area__sns div {
  width: 14%;
  margin-left: 10px;
}

.result-area__sns div a {
  display: block;
}

.result-area__sns span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 5vw;
  color: #3bb028;
  position: relative;
}

.result-area__sns span:before, .result-area__sns span:after {
  content: "";
  display: block;
  width: 2.3vw;
  height: 2.3vw;
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.result-area__sns span:before {
  right: 3%;
}

.result-area__sns span:after {
  right: 8%;
}

.result-area__friends {
  background-image: url("../img/result/nakayoshi_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #fbfaf8;
  padding: 16px 0;
  width: 100%;
}

.result-area__friends h3 {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  font-size: 5vw;
}

.result-area__friends ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-area__friends li {
  width: 26%;
  margin: 0 6px;
  background-image: url("../img/result/kekka_nakayoshi_btn.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 16px;
}

.container-content {
  width: 100%;
  padding: 16px;
  background-color: #777777;
}

.container-top {
  position: absolute;
  bottom: 0;
}

.container-bottom {
  padding: 20px;
}

.top-text {
  text-align: center;
  color: #FFF;
}

.top-text p {
  font-size: 3.5vw;
}

.event-campain p {
  line-height: 1.8;
  font-size: 13px;
}

.event-campain__text {
  background-color: #f0efeb;
  padding: 20px;
  color: #878383;
}

.top_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.top_image img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.home-page-image-wrapper h1 {
  position: relative;
}

.home-page-image-wrapper h1 img.pc {
  display: none;
}

.home-page-image-wrapper h1 img.sp {
  display: block;
}

.top_share_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top_share_bottom li {
  width: 10%;
  margin: 0 5px;
}

.top_share_bottom a {
  display: block;
}

.top_image_hitsuji {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.top_image_hitsuji img {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
}

.top_image_hitsuji img:nth-child(1) {
  left: 5%;
  top: 15%;
}

.top_image_hitsuji img:nth-child(2) {
  left: 75%;
  top: 10%;
}

.top_image_hitsuji img:nth-child(3) {
  left: 5%;
  top: 48%;
}

.top_image_hitsuji img:nth-child(4) {
  left: 80%;
  top: 45%;
}

.fadeOut {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut2 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: fadeOut2;
          animation-name: fadeOut2;
}

@-webkit-keyframes fadeOut2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 320px) {
  .top-text {
    padding: 0px;
  }
}

@media screen and (min-width: 720px) {
  .woolmark-campain__text p {
    line-height: 28px;
    font-size: 16px;
    width: 800px;
    margin: 0 auto 54px;
  }
  .top_page {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
  }
  .top_image img {
    width: 100%;
    max-width: 533px;
  }
  .que-start__btn {
    padding-top: 23px;
  }
  .que-start__btn a {
    font-size: 24px;
    padding: 2px 0 0 0;
    height: 80px;
    border-radius: 80px;
  }
  .que-start__btn a:after {
    width: 12px;
    height: 12px;
  }
  h1.que {
    height: 93px;
  }
  h1.que img {
    width: 227px;
  }
  form {
    width: 600px;
  }
  form h2 {
    font-size: 26px;
    line-height: 43.3px;
    margin: 36px auto 21px;
  }
  .que__text {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .submit {
    width: 224px;
  }
  .que__btn label {
    font-size: 1.4vw;
    padding-left: 48px;
  }
  .que__btn label:before {
    left: 14px;
  }
  .que__btn label.active:after {
    left: 17px;
  }
  .que-footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .que-footer .copy {
    font-size: 14px;
    line-height: 42px;
    color: #ffffff;
    background-color: #4e4541;
  }
  .result-area__discription h2 {
    font-size: 20px;
    width: 600px;
    margin: 0 auto;
    line-height: 52px;
  }
  .result-area__discription h2 > img {
    width: 380px;
    display: block;
    margin: 0 auto;
  }
  .result-area > div {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
  }
  .result-area__image {
    width: 480px;
    margin: 0 auto;
  }
  .result-area__caption {
    font-size: 24px;
  }
  .result-area__text {
    font-size: 18px;
    color: #4d4747;
    line-height: 34px;
    width: 800px;
    margin: 26px auto 35px;
  }
  .result-area__merit {
    background-size: 100px 100px;
    background-position: 25px 15px;
    font-size: 16px;
    width: 800px;
    margin: 0 auto 26px;
    padding: 32px 45px;
  }
  .result-area__merit > div:first-child {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .result-area__merit > div:first-child span {
    font-size: 16px;
  }
  .container-content {
    width: 980px;
    margin: 0 auto;
  }
  .top_share_bottom {
    top: 17%;
  }
  .top_share_bottom li {
    width: 47px;
  }
  .top_image_hitsuji img {
    width: 15%;
  }
  .top_image_hitsuji img:nth-child(1) {
    left: 17%;
    top: 21%;
  }
  .top_image_hitsuji img:nth-child(2) {
    left: 71%;
    top: 11%;
  }
  .top_image_hitsuji img:nth-child(3) {
    left: 16%;
    top: 52%;
    width: 14%;
  }
  .top_image_hitsuji img:nth-child(4) {
    left: 72%;
    top: 51%;
    width: 13%;
  }
  ul.sns-area li {
    width: 53px;
  }
  .top-text p {
    font-size: 20px;
  }
  .result-area__sns {
    width: 400px;
    margin: 0 auto;
  }
  .result-area__sns span {
    font-size: 20px;
  }
  .result-area__sns span:before, .result-area__sns span:after {
    right: 3%;
    width: 10px;
    height: 10px;
  }
  .result-area__sns span:before {
    right: 14%;
  }
  .result-area__sns span:after {
    right: 9%;
  }
  .result-area__sns div {
    width: 53px;
  }
  .result-area__friends h3 {
    font-size: 2vw;
  }
  .result-area__friends ul {
    width: 450px;
    margin: 12px auto 0;
  }
  .width-sp {
    display: none;
  }
  .width-pc {
    display: block;
  }
  .home-page-image-wrapper h1 img.pc {
    display: block;
  }
  .home-page-image-wrapper h1 img.sp {
    display: none;
  }
}

/*
@media の外に記述したスタイルは、全サイズで読み込まれます。
*/
body > div:nth-of-type(1) {
  display: none !important;
}
