* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
  font-size: 100%;
}

body {
  font-size: 14px;
  font-family: "Gotham A","Gotham B",sans-serif;
}

img {
  width: 100%;
  vertical-align: top;
}

.woolmark-campain__img {
  background-color: #fff;
  text-align: center;
}

.woolmark-campain__img img {
  width: 60%;
}

.woolmark-campain__text {
  background-color: #fff;
  padding: 20px;
  color: #878383;
}

.woolmark-campain__text p {
  margin-bottom: 16px;
  line-height: 1.8;
  font-size: 13px;
}

.woolmark-campain__text p:nth-child(2) {
  margin-bottom: 0;
}

.elle-shop__banner a {
  padding: 20px 8%;
  display: block;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}

.que-start__btn {
  line-height: 50px;
  padding-top: 10px;
  text-align: center;
  position: relative;
}

.que-start__btn a {
  background-color: #FFF;
  color: #4FB748;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  display: block;
}

.que-start__btn:after {
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  right: 30%;
  width: 5px;
  height: 5px;
  border-right: solid 3px #4bad31;
  border-top: solid 3px #4bad31;
}

h1.que {
  background-image: url("../img/common/header_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
}

h1.que img {
  width: 240px;
}

form {
  width: 90%;
  margin: 0 auto 20px;
  border-radius: 8px;
  padding: 24px;
}

form h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #4bad31;
  letter-spacing: 1px;
  position: relative;
  width: 200px;
  margin: auto;
}

form h2:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  position: absolute;
  background-image: url("../img/que1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: -15px;
  right: -50px;
}

.que__text {
  width: 60%;
  margin: 20px auto;
}

#que li {
  display: none;
}

#que li.active {
  display: block;
}

.container-content.queForm {
  background-color: #fbfaf8;
}

.que__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.que__btn label {
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 12px 12px 12px 36px;
  margin-bottom: 12px;
  font-size: 16px;
  position: relative;
}

.que__btn label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 12px;
  bottom: 1px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
}

.que__btn input[type=radio] {
  -webkit-appearance: none;
}

.que__btn label.active {
  background-color: #4bad31;
  color: #fff;
  border-color: #4bad31;
}

.que__btn label.active:before {
  border-color: #fff;
}

.que__btn label.active:after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  border-bottom: 2px solid #4bad31;
  border-left: 2px solid #4bad31;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  left: 15px;
  bottom: 3px;
  margin: auto;
}

.submit {
  width: 60%;
  margin: 10px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 50px;
  background-color: #4bad31;
  border-radius: 50px;
  font-size: 18px;
}

.result-area {
  position: relative;
}

.result-area__discription {
  position: relative;
  padding: 32px;
  z-index: 1;
  background-color: #fbfaf8;
}

.result-area__discription h2 {
  position: relative;
  color: #3bb028;
  font-size: 5.4vw;
  text-align: center;
}

.result-area__image {
  position: relative;
}

.result-area__image span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.result-area__image span img {
  position: absolute;
}

.result-area__image span.image__before img {
  width: 35%;
  top: 11%;
}

.result-area__image span.image__bg img {
  width: 85%;
  top: 15.5%;
  left: 6.5%;
}

.result-area__image span.image__main img {
  width: 60%;
  top: 26%;
  left: 22%;
}

.result-area__caption {
  color: #3bb028;
  font-size: 5vw;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.result-area__text {
  padding: 16px 0;
  line-height: 1.8;
}

.result-area__merit {
  background-color: #ffffff;
  color: #50b848;
  padding: 16px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: 26px 22px;
}

.result-area__merit.no_01 {
  background-image: url("../img/result/kekka_05_img.png");
}

.result-area__merit > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6vw;
  padding-top: 20px;
  padding-left: 90px;
  height: 80px;
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.result-area__merit > div:first-child span {
  font-size: 4vw;
  position: absolute;
  top: 10px;
  left: 90px;
}

.result-area__sns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0 0;
}

.result-area__sns div {
  width: 25%;
  padding-left: 12px;
}

.result-area__sns div a {
  display: block;
}

.result-area__sns span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 4.5vw;
  color: #3bb028;
  position: relative;
}

.result-area__sns span:before, .result-area__sns span:after {
  content: "";
  display: block;
  width: 2.3vw;
  height: 2.3vw;
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.result-area__sns span:before {
  right: -2%;
}

.result-area__sns span:after {
  right: 2.7%;
}

.result-area__friends {
  background-image: url("../img/result/nakayoshi_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #fbfaf8;
  padding: 16px 0;
  width: 100%;
}

.result-area__friends h3 {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  font-size: 5vw;
}

.result-area__friends ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-area__friends li {
  width: 26%;
  margin: 0 6px;
  background-image: url(../img/result/kekka_nakayoshi_btn.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 16px;
}

.container-content {
  width: 100%;
  padding: 3%;
  background-color: #777777;
}

.container-bottom {
  padding: 20px;
  background: #4FB748;
}

.top-text {
  padding: 0px 18px 5px 0px;
  text-align: center;
  color: #FFF;
}

.event-campain p {
  line-height: 1.8;
  font-size: 13px;
}

.event-campain__text {
  background-color: #fff;
  padding: 20px;
  color: #878383;
}

.scroll:before {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: rotate(2880deg);
            transform: rotate(2880deg);
  }
  30% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: rotate(2880deg);
            transform: rotate(2880deg);
  }
  30% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
